<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Micro :: Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
  </head>

  <body>
    <p>TEST LINKS</p><br/><br/>

    <a th:href="@{/nocontent}">Ü Response HTTP 204 : "no content"</a><br/><br/>

    <a th:href="@{/rest/api/test13(test=11.35)}">With PathParam and QueryParam</a><br/><br/>

    <a th:href="@{/rest/api/test13}">With QueryParam default value</a><br/><br/>

    <a th:href="@{/rest/api//}">With PathParam default value</a><br/><br/>

    <a th:href="@{/rest/api/validation}">ParametersValidationException: HTTP 400</a><br/><br/>

    <a th:href="@{/rest/api/validation(test=abc)}">Another one ParametersValidationException: HTTP 400</a><br/><br/>

    <a th:href="@{/rest/api/test13(test=ssss)}">ConverterException: HTTP 400</a><br/><br/>

    <a th:href="@{/seeother}">Redirect HTTP 303 : "see other"</a><br/><br/>

    <a th:href="@{/localdate/10102020}">Custom converter</a><br/><br/>

    <a th:href="@{/rest/api/gson}">JSON Response</a><br/><br/>

    <a th:href="@{/html}">Simple HTML form</a><br/><br/>

    <a th:href="@{/html/upload}">HTML form with files uploading</a><br/><br/>

    <a th:href="@{/count}">Session scoped</a><br/><br/>

    <a th:href="@{/principal}">Principal Object</a><br/><br/>

    <a th:href="@{/wrongrole}">@UserRoles -> Forbidden</a><br/><br/>
  </body>

</html>